<% content_for :head do -%>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto:300,400' %>
<% end -%>

<script>
  Page();
</script>

<div class="container">
  <nav class="home-nav">
    <%= link_to "Contentify", @brand_link, class: 'home-nav__brand link link--plain' %>
    <ul class="home-nav__list <%= user_signed_in? ? 'home-nav__list--with-border' : '' %>">
      <% if !user_signed_in? && @show_feature %>
        <li class="home-nav__list-item">
          <!-- TODO change to user_facebook_omniauth_authorize_path -->
          <%= link_to user_google_oauth2_omniauth_authorize_path, class: 'home-facebook-link' do %>
            <%= svg 'facebook_logo.svg' %> Continue with Facebook
          <% end %>
        </li>
      <% end %>
      <li class="home-nav__list-item">
        <%= link_to 'Get extension', @extension_url, class: 'link', target: '_blank' %>
      </li>
      <% if user_signed_in? && @show_feature %>
        <li class="home-nav__list-item">
          <div class="home-user-info-wrapper">
            <div class="home-user-info">
              <%= link_to current_user.name, library_index_path, class: 'home-user-info__name link link--link' %>
              <%= link_to "Sign out", destroy_user_session_path, class: 'link link--link' %>
            </div>
            <%= image_tag current_user.image, class: 'home-user-info__avatar' %>
          </div>
        </li>
      <% end %>
    </ul>
  </nav>

  <section class="home-section">
    <h1 class="home-title">Get rid of clutter</h1>
    <p class="home-text">Contentify transforms articles you read into elegant reading experiences</p>
  </section>

  <footer class="home-footer">
    <h1 class="home-title">Accessible, Anytime, Anywhere.</h1>
    <p class="home-text">Only one click away with the extension</p>
    <ul class="home-badge-list">
      <li class="home-badge-list__item">
        <%= link_to image_tag('ChromeWebStore_badge.png'), @extension_url, class: 'link link--large', target: '_blank' %>
      </li>
    </ul>
  </section>
</div>
