<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>
  </head>
  <body>
    <% if (data.lead_image_url.length > 0) { %>
      <img src="<%= data.lead_image_url %>" alt="Lead image" />
    <% } %>
    <% if (data.title.length > 0) { %>
      <h1><%= data.title %></h1>
    <% } %>
    <% if (data.date_published.length > 0) { %>
      <span>Published: <%= data.date_published %></span>
    <% } %>
    <% if (data.author.length > 0) { %>
      <span>Author: <%= data.author %></span>
    <% } %>
    <% if (data.url.length > 0) { %>
      <a href="<%= data.url %>" target="_black"><%= data.url %></a>
    <% } %>
    <% if (data.content.length > 0) { %>
      <div id="content"><%- data.content %></div>
    <% } %>

    <script src="javascripts/main.js" charset="utf-8"></script>
  </body>
</html>
