<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? content_for(:title) : "Contentify" %></title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.png', type: 'image/png' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav class="nav">
      <div class="nav__container container">
        <div class="nav__brand">
          <span>Contentify</span>
        </div>
        <div class="nav__action-list">
          <ul class="action-list">
            <li class="action-list__item search">
              <%= text_field_tag 'search-input-field', '', class: "search__input", placeholder: 'Search' %>
            </l1>
            <li class="action-list__item search-icon">
              <a class="action-list__action" href="#!">
                <%= image_tag "Search.svg", class: 'action-list__image' %>
              </a>
            </l1>
            <li class="action-list__item">
              <a class="action-list__action" href="#!">
                <%= image_tag "NormalMode.svg", class: 'action-list__image' %>
              </a>
            </l1>
            <li class="action-list__item">
              <a class="action-list__action" href="#!">
                <%= image_tag "LightMode.svg", class: 'action-list__image' %>
              </a>
            </l1>
            <li class="action-list__item">
              <a class="action-list__action" href="#!">
                <%= image_tag "NightMode.svg", class: 'action-list__image' %>
              </a>
            </l1>
            <li class="action-list__item">
              <a class="action-list__action" href="#!">
                <%= image_tag "FontSize.svg", class: 'action-list__image' %>
              </a>
            </l1>
            <li class="action-list__item">
              <a class="action-list__action" href="#!">
                <%= image_tag "SpeedReadMode.svg", class: 'action-list__image' %>
              </a>
            </l1>
            <li class="action-list__item">
              <a class="action-list__action" href="#!">
                <%= image_tag "SoundMode.svg", class: 'action-list__image' %>
              </a>
            </l1>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
