<article class="article article--font-size-<%= @setting.font_size %>">
  <h1 class="article__title"><%= @article.title %></h1>
  <div class="article__details">
    <% if @article.domain && @article.domain.length > 0 %>
      <span><%= @article.domain %></span>
    <% end %>
    <% if @article.min_read %>
      <span><%= @article.min_read %> min</span>
    <% end %>
    <% if @article.date_published %>
      <span><%= @article.date_published %></span>
    <% end %>
    <% if @article.author && @article.author.length > 0 %>
      <span><%= @article.author %></span>
    <% end %>
  </div>
  <% if @article.lead_image_url %>
    <%= image_tag @article.lead_image_url, class: "article__lead-image" %>
  <% end %>
  <div class="article__content">
    <% if @article.content %>
      <%= @article.content %>
    <% else %>
      <div class="article__content-error">
        <h5>
          Sorry! This was a tough one.
          <br>
          We couldn't find the content from this website.
        </h5>
        <p>
          &ldquo;Failure is an option here.<br>
          If things are not failing,<br>
          you are not innovating enough.&rdquo;<br>
          Elon Musk
        </p>
      </div>
    <% end %>
  </div>
</article>
