<div class="article__fab">
  <%= button_to save_article_reader_index_path,
    class: 'fab',
    data: {
      fab_role: 'save-page',
      fab_activate_modal: !user_signed_in?
    } do %>
    <%= hidden_field_tag 'url', @article.url %>
    <%= hidden_field_tag 'article', @article.article.to_json %>
    <%= svg 'fab/ic_add.svg' %>
  <% end %>
  <% unless user_signed_in? %>
    <div class="fab-modal" data-fab-modal-for="save-page">
      <div class="fab-modal__container">
        <div class="fab-modal__body">
          <h2 class="fab-modal__title">Sign in before saving a page, bitch!</h2>
          <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
          <div class="fab-modal__separator">
            <span></span>
            <span>or</span>
            <span></span>
          </div>
          <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
        </div>
        <div class="fab-modal__footer">
          <button type="button" class="fab-modal__button">close</h2>
        </div>
      </div>
    </div>
  <% end %>
</div>
