<%- title @article.title ? @article.title : 'Error' %>

<script>
  $(document).ready(function(){
    progressBar();
    readerNavbar();
  });
</script>

<div class="progress-bar">
  <span class="progress-bar__level progress-bar__level--animate" title="How much you've seen from the article."></span>
</div>
<div class="container">
  <% if @article.errors.any? %>
    <h1>Hmmm Looks like <%= @article.errors.messages[:url].first %> </h1>
  <% else %>
    <nav class="article-controls article-controls--white">
      <ul class="article-controls__list">
        <li class="article-controls__list-item">
          <button class="article-controls__button">
            <%= image_tag asset_path('reader_menu/arrow_back.svg') %>
          </button>
        </li>
        <li class="article-controls__list-item">
          <button class="article-controls__button">
            <%= image_tag asset_path('reader_menu/text_format.svg') %>
          </button>
        </li>
        <li class="article-controls__list-item">
          <button class="article-controls__button">
            <%= image_tag asset_path('reader_menu/background.svg') %>
          </button>
        </li>
        <li class="article-controls__list-item">
          <button class="article-controls__button">
            <%= image_tag asset_path('reader_menu/window_size.svg') %>
          </button>
        </li>
      </ul>
    </nav>
    <article class="article article--small">
      <h1 class="article__title"><%= @article.title %></h1>
      <div class="article__details">
        <% if @article.author %>
          <span>By <%= @article.author %></span>
        <% end %>
        <% if @article.domain %>
          <span><%= @article.domain %></span>
        <% end %>
        <% if @article.date_published %>
          <span><%= @article.date_published %></span>
        <% end %>
        <% if @article.min_read %>
          <span><%= @article.min_read %> min read</span>
        <% end %>
      </div>
      <% if @article.lead_image_url %>
        <%= image_tag @article.lead_image_url, class: "article__lead-image" %>
      <% end %>
      <div class="article__content">
        <%= @article.content %>
      </div>
    </article>
  <% end %>
</div>
