<%- title @article.title ? @article.title : 'Error' %>

<% meta_tag :description, @article.excerpt %>

<% meta_tag :og_type, 'article' %>
<% meta_tag :og_description, @article.excerpt %>
<% meta_tag :og_title, @article.title %>
<% meta_tag :og_image, @article.lead_image_url %>
<% meta_tag :og_url, "https://www.contentify.io/reader?url=#{@url}" %>

<% meta_tag :twitter_card, 'summary_large_image' %>
<% meta_tag :twitter_description, @article.excerpt %>
<% meta_tag :twitter_title, @article.title %>
<% meta_tag :twitter_image, @article.lead_image_url %>
<% meta_tag :twitter_url, "https://www.contentify.io/reader?url=#{@url}" %>

<script>
  $(document).ready(reader);
</script>

<% if @article.errors.any? %>
  <h1>Hmmm Looks like <%= @article.errors.messages[:url].first %> </h1>
<% else %>
  <div class="progress-bar">
    <span class="progress-bar__level progress-bar__level--animate" title="How much you've seen from the article."></span>
  </div>
  <div class="container">
    <nav class="article-controls">
      <ul class="article-controls__list">
        <li class="article-controls__list-item">
          <%= link_to @url.html_safe, class: 'article-controls__button' do %>
            <%= image_tag asset_path('reader_menu/ic_arrow-back.svg') %>
          <% end %>
        </li>
        <li class="article-controls__list-item">
          <div class="popover" data-for="text_format" id="font-size-controls">
            <div class="popover__container">
              <div class="popover__button-group">
                <button class="popover__button popover__button--small" data-value="small">small</button>
                <button class="popover__button popover__button--medium" data-value="medium">medium</button>
                <button class="popover__button popover__button--large" data-value="large">large</button>
              </div>
            </div>
          </div>
          <button class="article-controls__button" data-popover-open="text_format">
            <%= image_tag asset_path('reader_menu/ic_type-size.svg') %>
          </button>
        </li>
        <li class="article-controls__list-item">
          <div class="popover" data-for="theme" id="theme-controls">
            <div class="popover__container">
              <div class="popover__button-group">
                <button class="popover__button popover__button--medium" data-value="light">light</button>
                <button class="popover__button popover__button--medium" data-value="dark">dark</button>
              </div>
            </div>
          </div>
          <button class="article-controls__button" data-popover-open="theme">
            <%= image_tag asset_path('reader_menu/ic_color.svg') %>
          </button>
        </li>
        <li class="article-controls__list-item">
          <button class="article-controls__button">
            <%= image_tag asset_path('reader_menu/ic_storymode.svg') %>
          </button>
        </li>
      </ul>
    </nav>
    <div class="article__fab">
      <button class="fab">
        <%= image_tag asset_path('fab/ic_add.svg') %>
      </button>
    </div>
    <article class="article article--font-size-medium">
      <h1 class="article__title"><%= @article.title %></h1>
      <div class="article__details">
        <% if @article.author && @article.author.length > 0 %>
          <span>By <%= @article.author %></span>
        <% end %>
        <% if @article.domain && @article.domain.length > 0 %>
          <span><%= @article.domain %></span>
        <% end %>
        <% if @article.date_published %>
          <span><%= @article.date_published %></span>
        <% end %>
        <% if @article.min_read %>
          <span><%= @article.min_read %> min read</span>
        <% end %>
      </div>
      <% if @article.lead_image_url %>
        <%= image_tag @article.lead_image_url, class: "article__lead-image" %>
      <% end %>
      <div class="article__content">
        <% if @article.content %>
          <%= @article.content %>
        <% else %>
          <div class="article__content-error">
            <h5>
              Sorry! This was a tough one.
              <br>
              We couldn't find the content from this website.
            </h5>
            <p>
              &ldquo;Failure is an option here.<br>
              If things are not failing,<br>
              you are not innovating enough.&rdquo;<br>
              Elon Musk
            </p>
          </div>
        <% end %>
      </div>
    </article>
  </div>
  <% if @article.title || (@article.domain && @article.domain.length > 0) %>
    <footer class="article-footer">
      <p class="article-footer__text"><%= @article.title %> • <%= @article.domain %></p>
    </footer>
  <% end %>
<% end %>
