<%- title @article.title ? @article.title : 'Error' %>

<% meta_tag :description, @article.excerpt if @article.excerpt %>

<% meta_tag :og_type, 'article' %>
<% meta_tag :og_description, @article.excerpt if @article.excerpt %>
<% meta_tag :og_title, @article.title if @article.title %>
<% meta_tag :og_image, @article.lead_image_url if @article.lead_image_url %>
<% meta_tag :og_url, "https://www.contentify.io/reader?url=#{@url}" %>

<% meta_tag :twitter_card, 'summary_large_image' %>
<% meta_tag :twitter_description, @article.excerpt if @article.excerpt %>
<% meta_tag :twitter_title, @article.title if @article.title %>
<% meta_tag :twitter_image, @article.lead_image_url if @article.lead_image_url %>
<% meta_tag :twitter_url, "https://www.contentify.io/reader?url=#{@url}" %>

<% content_for :body_class, "dark-theme" if @setting.dark? %>

<script>
  window.onload = function() {
    new Reader();
  }
</script>

<% unless Rails.env.development? %>
  <%= render 'loading_screen' %>
<% end %>

<% if @article.errors.any? %>
  <h1>Hmmm Looks like <%= @article.errors.messages[:url].first %> </h1>
<% else %>
  <%= render 'progress_bar' %>

  <div class="container">
    <%= render 'controls' %>

    <% unless @show_fab %>
      <%= render 'fab' %>
    <% end %>

    <%= render 'article' %>
  </div>

  <% if @article.title || (@article.domain && @article.domain.length > 0) %>
    <%= render 'footer' %>
  <% end %>
<% end %>
