<h1><%= @title %></h1>
<p>Author: <%= @author %></p>
<p>From: <%= @domain %></p>
<p>Date Published: <%= @date_published %></p>
<p><%= @min_read %> min read.</p>
<article>
  <%= @content %>
</article>
