<%- title @article.title ? @article.title : 'Error' %>

<script>
  $(document).ready(function(){
    progressBar();
    readerNavbar();
    popover();
  });
</script>

<% if @article.errors.any? %>
  <h1>Hmmm Looks like <%= @article.errors.messages[:url].first %> </h1>
<% else %>
  <div class="progress-bar">
    <span class="progress-bar__level progress-bar__level--animate" title="How much you've seen from the article."></span>
  </div>
  <div class="container">
    <nav class="article-controls article-controls--white">
      <ul class="article-controls__list">
        <li class="article-controls__list-item">
          <button class="article-controls__button">
            <%= image_tag asset_path('reader_menu/arrow_back.svg') %>
          </button>
        </li>
        <li class="article-controls__list-item">
          <div class="popover" data-for="text_format">
            <div class="popover__container">
              <div class="popover__button-group">
                <button class="popover__button popover__button--small">small</button>
                <button class="popover__button popover__button--medium">medium</button>
                <button class="popover__button popover__button--large">large</button>
              </div>
            </div>
          </div>
          <button class="article-controls__button" data-popover-open="text_format">
            <%= image_tag asset_path('reader_menu/text_format.svg') %>
          </button>
        </li>
        <li class="article-controls__list-item">
          <div class="popover" data-for="background">
            <div class="popover__container">
              <div class="popover__button-group">
                <button class="popover__button popover__button--medium">clear</button>
                <button class="popover__button popover__button--medium">dark</button>
              </div>
            </div>
          </div>
          <button class="article-controls__button" data-popover-open="background">
            <%= image_tag asset_path('reader_menu/background.svg') %>
          </button>
        </li>
        <li class="article-controls__list-item">
          <div class="popover" data-for="window_size">
            <div class="popover__container">
              <div class="popover__button-group">
                <button class="popover__button popover__button--medium">tight</button>
                <button class="popover__button popover__button--medium">regular</button>
                <button class="popover__button popover__button--medium">loose</button>
              </div>
            </div>
          </div>
          <button class="article-controls__button" data-popover-open="window_size">
            <%= image_tag asset_path('reader_menu/window_size.svg') %>
          </button>
        </li>
      </ul>
    </nav>
    <article class="article article--small">
      <h1 class="article__title"><%= @article.title %></h1>
      <div class="article__details">
        <% if @article.author %>
          <span>By <%= @article.author %></span>
        <% end %>
        <% if @article.domain %>
          <span><%= @article.domain %></span>
        <% end %>
        <% if @article.date_published %>
          <span><%= @article.date_published %></span>
        <% end %>
        <% if @article.min_read %>
          <span><%= @article.min_read %> min read</span>
        <% end %>
      </div>
      <% if @article.lead_image_url %>
        <%= image_tag @article.lead_image_url, class: "article__lead-image" %>
      <% end %>
      <div class="article__content">
        <%= @article.content %>
      </div>
    </article>
  </div>
  <footer class="article-footer">
    <p class="article-footer__text"><%= @article.title %> • <%= @article.domain %></p>
  </footer>
<% end %>
